In [5]:
friends = ['Sam','Ani','Kavi']
for friend in friends:
    print('Hello' +' '+ friend)

Hello Sam
Hello Ani
Hello Kavi

In [8]:
for i in range(5 ):
    print("Hellow, world!")

Hellow, world!
Hellow, world!
Hellow, world!
Hellow, world!
Hellow, world!

In [3]:
def greetings(name):
    print("Hellow,  "+ name)

In [4]:
greetings("sai")

Hellow,  sai

In [7]:
def welcome(name):
    print("welcome, "+ name)

In [9]:
welcome("sai")get_seconds(1,10,10)

welcome, sai

In [10]:
greetings("Kavi")

Hellow,  Kavi

In [11]:
welcome("Ani")

welcome, Ani

In [12]:
def intro(name, department):
    print("Hellow, "+ name)
    print("You are a part of, "+department)

In [13]:
intro("Sai","Auto")

Hellow, Sai
You are a part of, Auto

In [14]:
intro("Sam","software engineering")

Hellow, Sam
You are a part of, software engineering

In [17]:
def area_traiangle(base,height):
    return base*height/2

In [20]:
a=area_traiangle(5,4)

In [21]:
b=area_traiangle(7,3)

In [23]:
sum = a+b
print("The sum of the area of triangle a and b : ",sum)

The sum of the area of triangle a and b :  20.5

In [24]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

In [25]:
get_seconds(1,10,10)

4210

In [26]:
get_seconds(0,10,10)

610

In [32]:
def convert_seconds(seconds):
    hours = seconds//3600
    minutes = (seconds-hours*3600)//60
    remaining_seconds= seconds-hours*3600-minutes*60
    return hours,minutes,remaining_seconds

In [33]:
convert_seconds(5000)

(1, 23, 20)

In [38]:
def lucky_number(name):
    number=len(name)*9
    print("Hello,", name,". Your Lucky number is: ", number)

In [39]:
lucky_number("sai")

Hello, sai . Your Lucky number is:  27

In [40]:
lucky_number("saicharan")

Hello, saicharan . Your Lucky number is:  81

In [41]:
def calculate(d):
    q=3.14
    z=q*(d**2)
    print(z)

In [42]:
calculate(5)

78.5

In [43]:
def circle_area(radius):
    pi=3.14
    area= pi*(radius**2)
    print(area)

In [44]:
circle_area(5)

78.5

In [48]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6
    print(km)# approximately 1.6 km in 1 mile

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(55)
my_trip_km 

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is ", str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " , str(my_trip_km))

The distance in kilometers is  None
The round-trip in kilometers is  None

In [50]:
my_trip_km = convert_distance(55)
print(my_trip_km)

None

In [71]:
def convert_distance(miles):
    km = miles * 1.6
    return km

In [72]:
convert_distance(1)

1.6

In [75]:
my_trip_km =convert_distance(10)

In [78]:
print("the distance in km is ", my_trip_km)

the distance in km is  16.0

In [79]:
def hint_username(username):
    if len(username)<3:
        print("Invalid username, must be atleast 3 char long")
    else:
        print("valid username")

In [80]:
hint_username("Sam")

valid username

In [81]:
hint_username("Sa")

Invalid username, must be atleast 3 char long

In [83]:
def is_even(num):
    if num % 2== 0:
        return True
    return False

In [84]:
is_even(10)

True

In [85]:
is_even(11)

False

In [97]:
def hint_usernames(username):
    if len(username)<3:
        print("Invalid username, must be atleast 3 char long")
    elif len(username)>15:
        print("Invalid username, must be less than 15 char")
    else:
        print("valid username")

In [100]:
hint_usernames("abcdefghijkal")

valid username

In [103]:
hint_usernames("abcdefghijkalmnop")

Invalid username, must be less than 15 char

In [104]:
"big" > "small"

False

In [105]:
11 % 5

1

In [106]:
((10 >= 5*2) and (10 <= 5*2))

True

In [107]:
4%3

1

In [108]:
def fractional_part(numerator, denominator):
	if numerator % denominator==0:
		return 0
	else:
		return numerator % denominator

In [109]:
print(fractional_part(5, 5))

0

In [110]:
print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5))

0
1
2
1

ZeroDivisionError: integer division or modulo by zero

In [111]:
def longest_word(word1, word2, word3):
	if len(word1) >= len(word2) and len(word1) >= len(word3):
		return  word1
	elif len(word2) >= len(word1) and len(word2) >= len(word3):
		return word2
	else:
		return word3
    
print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook