In [1]:
def sum_three(x,y,z):
    if x==y or y==z or z==x:
        sum=0
    else:
        sum=x+y+z
    return sum
print(sum_three(2,3,4))
print(sum_three(2,1,2))
print(sum_three(3,2,2))
print(sum_three(1,2,2))

9
0
0
0

In [2]:
def concatenate_list_data(list):
    result=''
    for element in list:
        result += str(element)
    return result

print(concatenate_list_data([1,5,12,2]))

15122

In [4]:
'''Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. 
If the string length is less than 2, return instead of the empty string
'''
def string_both_ends(str):
    if len(str) < 2:
        return ''

    return str[0:2] + str[-2:]

print(string_both_ends('w3resource'))
print(string_both_ends('w3'))
print(string_both_ends('w'))

w3ce
w3w3

In [5]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [7]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [9]:
x = "Python is awesome"
print(x)

Python is awesome

In [10]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

In [13]:
x = 5
y = "John"
print(x + y) # this will not done as str and int concatination not possible

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
x = "5"
y = "John"
print(x + y)

5John

In [15]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [17]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [18]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [23]:
x = range(6)

In [24]:
x

range(0, 6)

In [27]:
x=([x])

[range(0, 6)]

In [29]:
x = b"Hello"

In [30]:
print(type(x))

<class 'bytes'>

In [31]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [32]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [33]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [34]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [35]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [36]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [37]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [38]:
import random

print(random.randrange(1, 10))

4

In [41]:
print(range(10))

range(0, 10)

In [42]:
print("Hello")
print('Hello')

Hello
Hello

In [43]:
a = "Hello, World!"
print(a[1])

e

In [45]:
a = "Hello, World!."
print(len(a))

14

In [46]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [50]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [51]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [52]:
b = "Hello, World!"
print(b[2:5])

llo

In [53]:
b = "Hello, World!"
print(b[:5])

Hello

In [54]:
b = "Hello, World!"
print(b[5])

,

In [55]:
b = "Hello, World!"
print(b[0:5])

Hello

In [56]:
b = "Hello, World!"
print(b[:-5])

Hello, W

In [57]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [58]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [59]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [60]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!" # removed spaces.

Hello, World!

In [61]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [62]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [63]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [66]:
age = 36
txt = "My name is John, I am " + age
print(txt)  # this will not done as concatination will done with str

TypeError: can only concatenate str (not "int") to str

In [65]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [67]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [68]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [70]:
txt = "Hello \rWorld!"
print(txt)

World!

In [71]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [72]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [73]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [74]:
txt = "Hello\rWorld!"
print(txt)

World!

In [75]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [80]:
#This example erases one character (backspace):
txt = "Hello \bWorld!\b"
print(txt)

Hello World!

In [81]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [82]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning